<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="local-feed" value=".nuget-local-feed" />
  </packageSources>
  <config>
    <add key="globalPackagesFolder" value=".nuget-packages" />
    <add key="http_proxy" value="" />
    <add key="https_proxy" value="" />
    <add key="no_proxy" value="*" />
  </config>
</configuration>
